
@font-face {
  font-family: "Pixel";
  src: url("./fonts/pixel.ttf");
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.h-text {
  color: black;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
