.game-loader {
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid rgb(143, 124, 62);
  padding: 16px;
  background-color: rgb(199, 231, 235);

  display: flex;
  flex-direction: column;
}

.game-loader__icon {
  display: block;
  width: 32px;
  height: 32px;
}

.game-loader__text {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: rgb(26, 26, 26);
}