.game-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-loader__inner {
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid rgb(143, 124, 62);
  padding: 32px;
  background-color: rgb(199, 231, 235);
  width: 40%;
  min-height: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-loader__icon {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
}

.game-loader__text {
  text-align: center;
  font-family: "Pixel", monospace;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: rgb(26, 26, 26);
}
.game-tile {
  visibility: hidden;
  width: 0;
  height: 0;
}

.game-scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-sizing: border-box;
  border: 4px solid rgb(199, 231, 235);
}
.game-pills-counter {
  user-select: none;

  width: 180px;
  height: 64px;
  
  position: absolute;
  bottom: 40px;
  left: 64px;
  z-index: 2;

  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid rgb(204, 170, 60);
  background-color: rgb(65, 27, 16);
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-pills-counter > *:first-child {
  margin-right: 8px;
}

.game-pills-counter__img {
  display: block;
  width: 56px;
  height: 56px;
}

.game-pills-counter__text {
  font-family: "Pixel", monospace;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: right;
  color: rgb(199, 231, 235);
}

.game-continue-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-continue-popup__inner {
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid rgb(143, 124, 62);
  padding: 16px;
  background-color: rgb(199, 231, 235);
  width: 50%;
  min-height: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-continue-popup__icon {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

.game-continue-popup__text {
  text-align: center;
  font-family: "Pixel", monospace;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: rgb(26, 26, 26);
  
  margin-bottom: 20px;
}

.game-continue-popup__button {
  display: block;

  box-sizing: border-box;
  padding: 10px;
  min-width: 160px;
  min-height: 24px;

  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Pixel", monospace;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  background-color: #462f77;

  outline: none;
  border: 4px solid rgb(143, 124, 62);
  border-radius: 8px;

  cursor: pointer;
}

.game-continue-popup__button:hover {
  background-color: #8568cc;
}
