.game-pills-counter {
  user-select: none;

  width: 180px;
  height: 64px;
  
  position: absolute;
  bottom: 40px;
  left: 64px;
  z-index: 2;

  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid rgb(204, 170, 60);
  background-color: rgb(65, 27, 16);
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-pills-counter > *:first-child {
  margin-right: 8px;
}

.game-pills-counter__img {
  display: block;
  width: 56px;
  height: 56px;
}

.game-pills-counter__text {
  font-family: "Pixel", monospace;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: right;
  color: rgb(199, 231, 235);
}
